*.o
bin/*.brogue*
bin/BrogueHighScores.txt
bin/brogue*
bin/*.png

# Release dirs and archives
BrogueCE-*

.vscode
.gdb_history

*.su
*.gcda
*.gcno
*.gcov
*.desktop
gmon.out

# Mac system files
src/.DS_Store
.DS_Store
